@charset "UTF-8";



/* PARA TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
  main {
    background-image: linear-gradient(to bottom, rgb(131,  59, 15), black);
  }
  #login {
    width: 550px;
    height: 500px;
  }
  #imagem {
    float: left;
    width: 50%;
    height: 100%;
  }

  #formulario {
    float: right;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
  }
}

/* PARA TELAS GRANDES */
@media screen and (min-width: 992px) {
  main {
    background-image: linear-gradient(to top, rgb(131, 59, 15), black);
  }

  #login {
    width: 750px;
    height: 550px;
  }

  #imagem {
    float: right;
    width: 50%;
    height: 100%;
  }

  #formulario {
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
  }
}